body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #3a3838;
    background-image: url(photo_2024-10-18_21-38-42.jpg);
    background-size: cover;
  
  
  
  }
  
  .container {
    background-color: white;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 07px auto;
    filter: drop-shadow(5px 5px 5px);
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="radio"] {
    margin: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #774a3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #948380;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }